<html>
<head>
    <title>Ubiquiti Parental Control</title>
</head>
<body>
    <h1>Ubiquiti Parental Control</h1>
    <div id="app">
        <div v-for="client in clients">
            <div>{{ client.hostname }} ({{client.name }})
                <button v-if="client.blocked" v-on:click="unblock(client._id)">UnBlock</button>
                <button v-if="client.blocked == false" v-on:click="block(client._id)">Block</button>
            </div>
        </div>
        <div v-for="blocked in blockeds">
            <div>{{ client.hostname }} ({{client.name }})</div>
        </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>

